@use 'sass:math';
/*
Sử dụng toán tử và nội suy trong sass
*/
// 1. Equality (==.!=)
// 2. Relation (>, <, >=, <=)
// 3. Numeric (+, -, *, /, %)
// @debug math.div(12px, 3); //div: division

// @debug 11px % 2; //kiểm tra số chẵn

// 4. Logic (not, and, or)

// @debug not true; //false

// Truthy & (Falsy: false, null)

// @debug not 0;

// // các toán tử dùng để kiểm tra điều kiện

// $success: false;

// @if not $success {
//     div {
//         width: 100px;
//     }
// }

// 5. Interpolation - nội suy

// $name: 'Nguyen Van A';

// @debug 'Xin chao: #{$name}';

$selector: '.container';
$property: 'display';
$placement: 'left';

#{$selector} {
    width: 100px;
    margin-#{$placement}: 10px;
    #{$property}: flex;
}
